.calculator {
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 52, 52);
  height: 600px;
  width: 400px;
  margin: auto;
  border: 5px groove rgb(211, 255, 211);
}

.screen {
  height: 25%;
  margin: 20px;
  margin-bottom: 0;
  background-color: rgb(78, 88, 71);
  border-radius: 10px;
}

.input-screen, .result-screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.input-screen {
  height: 25%;
}

.result-screen {
  height: 75%;
  font-size: 50px;
}

.btns {
  box-sizing: border-box;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px;
}

button {
  width: 20%;
  border-radius: 10px;
  font-size: larger;
  flex: 1 1 auto;
  background-color: rgb(43, 43, 43);
  border: 1px groove gray;
}

button:hover {
  background-color: rgb(95, 95, 95);
  transition: 0.1s;
}

button:active {
  background-color: rgb(173, 173, 173);
}

.clear, .delete {
  width: 40%;
  background-color: rgb(164, 164, 164);
}

.operator, .equal-operator {
  background-color: rgb(217, 171, 18);
}